body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    position: relative; /* Make the body relative for absolute positioning */
}

/* Style for the top-left icon */
.top-left-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px; /* Set the size of the icon */
    height: 40px;
    border-radius: 50%; /* Make the icon round */
    object-fit: cover; /* Ensure the image fills the circle */
    z-index: 10; /* Ensure the icon is above other elements */
}

input[type="radio"] {
    display: none; /* Hide the radio buttons */
}

.gallery-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 350px;
    height: 600px;
    cursor: pointer; /* Change the cursor to indicate clickability */
}

.image-container {
    position: relative;
    max-width: 90vw;
    max-height: 80vh;
    overflow: hidden;
}

.gallery-label {
    width: 350px;
    height: 600px;
    display: none; /* Hide all images by default */
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; /* Indicate that the gallery is clickable */
}

.gallery-image {
    width: 350px;
    height: 600px;
    object-fit: contain;
}

/* Show the corresponding image based on which radio button is checked */
#img1:checked ~ .gallery-container .image1,
#img2:checked ~ .gallery-container .image2,
#img3:checked ~ .gallery-container .image3 {
    display: block; /* Show the image when the associated radio button is checked */
}
