body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
  }
  
  #intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 2;
    transition: transform 1s ease-in-out;
  }
  
  #intro img {
    width: 40%;
    object-fit: cover;
  }
  
  .popup-overlay {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out;
  }
  
  .popup {
    text-align: center;
  }
  
  .popup h2 {
    margin-bottom: 20px;
    font-weight: 700;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Slightly moved down */
    animation: fadeInUp 5s ease-in-out forwards;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .button {
    text-align: center;
    cursor: pointer;
   
  }
  
  .button img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-top: 40px;
  
  }
  
  .button span {
    display: block;
    margin-top: 13px;
    font-size: 30px;
    font-weight: 500;
  }
  
  .button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover img {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .button:hover span {
    color: #785e39; /* Change to your desired hover color */
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  