body {
    font-family: Georgia, serif; /* Set Georgia font for body content */
    background-image: url('https://images.unsplash.com/photo-1689827524021-7d99d37c55c7?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; /* Ensures the background image covers the entire page */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed during scrolling */
    min-height: 100vh; /* Ensures the minimum height of the body is the full viewport height */
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */
    overflow-x: hidden; /* Prevents horizontal scrolling if necessary */
}


.hidden-content {
    display: block; /* Change to block for transition effects */
    opacity: 0;
}
s
h1 {
    font-weight: 700px; /* Make header bold */
    color: rgb(45, 50, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p { color: rgb(22, 20, 18);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
font-weight: 500px;}

.content-container {
    background-color: rgba(211, 211, 211, 0.8); /* Light grey background with slight transparency */
    border-radius: 10px;
    margin-top: 70px; 
    padding: 40px; 
    margin-bottom: 80px;
    margin-left: 30px;
}

.image-container {
    margin-top: 2rem; /* Adds margin above the image */
    padding-left: 2rem; /* Adds padding to the left of the image to separate it from text */
}

@media (min-width: 1024px) {
    .image-container {
        margin-left: 2rem; /* Adds left margin on larger screens */
    }
}
footer {
    margin-top: 30px; /* Ensures the footer is positioned relative to the body */
}

footer .flex {position: absolute; /* Allows absolute positioning within the footer */
    bottom: 10px; /* Positions the buttons 10px from the bottom */
    right: 10px; /* Positions the buttons 10px from the right corner */
}

.bg-black {
    background-color: rgb(187, 180, 180); /* Sets the background color to black */
}

.text-white {
    color: rgb(18, 3, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.option-btn {
    width: 60px; /* Fixed width to create a circular button */
    height: 60px; /* Fixed height to match the width */
    padding: 0; /* No padding to maintain the circular shape */
    border: none; /* Removes any default border */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    border-radius: 50%; /* Makes the button circular */
    display: flex; /* Aligns the text in the center */
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    font-size: 12px; /* Adjust font size as needed */
}

