.body-bg {
    background-color: #556b5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-title {
    color: rgb(31, 35, 32);
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    font-family: "pilsner", sans-serif;
    font-size: 50px;
}

.content-text {
    font-family: Georgia, serif;
    margin-bottom: 350px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 1.6;
    font-size: large;
    color: #c1e3be;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    position: relative;
    margin-top: 20px;
}

.progress-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.progress-title {
    color: white;
    font-size: 1rem;
    text-align: center;
    flex: 1;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    outline: none;
}

.title-birds {
    left: 8%;
    margin-top: 20px;
    font-family: "pilsner", sans-serif;
    font-size: 20px;
}

.title-flowers {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    font-family: "pilsner", sans-serif;
    font-size: 20px;
}

.title-portraits {
    right: 8%;
    margin-top: 20px;
    font-family: "pilsner", sans-serif;
    font-size: 20px;
}

.progress-line-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    height: 1rem;
}

.title-birds::before {
    content: "";
    position: absolute;
    top: -350px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 300px;
    background-image: url('https://i.pinimg.com/564x/fd/83/f1/fd83f15a46a2435c93a4d400e6a2dc36.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.title-flowers::before {
    content: "";
    position: absolute;
    top: -350px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 300px;
    background-image: url('https://i.pinimg.com/564x/57/60/05/576005cee9a15dc05d90391fa4589037.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.title-portraits::before {
    content: "";
    position: absolute;
    top: -350px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 300px;
    background-image: url('https://i.pinimg.com/564x/e1/ba/6c/e1ba6c4c805a748dc3137209883a80c7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.title-birds:focus::before,
.title-birds:hover::before {
    opacity: 1;
}

.title-flowers:focus::before,
.title-flowers:hover::before {
    opacity: 1;
}

.title-portraits:focus::before,
.title-portraits:hover::before {
    opacity: 1;
}

.progress-line-container {
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    height: 1rem;
}

.progress-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid white;
    z-index: 1;
}

.progress-circle {
    border: 2px solid white;
    background-color: #556b5c;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    z-index: 2;
}

.button-container {
    position: absolute;
    bottom: 2rem;
}

.button {
    background-color: #8e8888;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 9999px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button:hover {
    background-color: #b91c1c;
}
